h1 { font-family: McLaren;
    font-size: 40px;  
    background-color: black;
    padding: 15px;
    margin: 0px;
    color: #1874ce; /*#1e90ff Color Hex Dodger Blue*/
    text-align: center;
}

h2 { font-family: Comic Sans MS;
}

h3 { 
  font-family: McLaren;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
}
h4 {
  font-family: Comic Sans MS;
  font-size: 20px;
  text-align: center;
}

p {
  font-family: Trebuchet MS;
}

a {
  text-decoration: none;
  color: #5391ce;
}

li {
    float: left;
    position: relative;
    right: -38%;
    text-align: left;
  }

nav ul ul {
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: .2s, 0s;
  transition-delay: 0s, .1s;
}

nav ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s, 0s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #666;
    font-family: Arial;
    position: relative;
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
  nav ul:after {
    content: ""; clear: both; display: block;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
li a:hover:not(.active) {
   background-color: #000000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #d3d3d3;
}    
    
  nav ul ul {
    background: #666; border-radius: 0px; padding: 0px;
    position: absolute; top: 100%;
  }

 nav ul ul li {
      float: none; 
      border-top: 1px solid #6b727c;
      border-bottom: 1px solid #575f6a; position: relative;
    }

.drop-nav li {
  left: 0px;
}

.orange {
  color: #ffa500;
}
.active {
    background-color: #1874ce;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   max-width: 100%;
   height: auto;
   } 

   .introductie {
    float: left;
    width: 475px;
    height: 355px;
    left: 25%;
    margin: 50px;
    padding: 20px;
    padding-top: 0px;
    background-color: #efefef;
    position: relative;
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   }

   .school {
    width: 475px;
    margin: auto;
   }
   .opleiding {
    width: 475px;
    margin: auto;
   }

   .beroep {
    width: 475px;
    margin: auto;
   }

   .intro {
    font-size: 16px;
   }

   .opdr {
    display: block;
    margin: 0 auto;
   }


div a:link {
    text-decoration: none;
}

div a:visited {
    text-decoration: none;
}

div a:hover {
    text-decoration: underline;
}

div a:active {
    text-decoration: underline; 
}

section a:link {
    text-decoration: none;
}

section a:visited {
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

section a:active {
    text-decoration: underline; 
}



.overlink {
  color: black;
}

.photo {
  float: left; 
  margin-top: 20px;
  width: 160px; 
  height: 210px;
  border: 2px solid grey;
  border-radius: 10px;
  position: fixed;
  left: 45%;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.footer {
  font-family: arial;
  font-size: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #efefef;
  text-align: center;
}

.footer2 {
  font-family: arial;
  font-size: 15px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #efefef;
  text-align: center;
}

.overzicht {
  width: 500px;
  margin: 50px;
}

 .overzicht ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overzicht li {
  font: 200 20px/1.5 Helvetica;
  border-bottom: 1px solid #ccc;
}

.overzicht li a {
  color: black;
  width: 180px;
  display: block;
  text-align: left;
  text-decoration: none;

  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.overzicht li a:hover {
  color: white;
  background: #1874ce;
}
