h1 { font-family: Comic Sans MS;  
    background-color: black;
    padding: 15px;
    margin: 0px;
    color: #ffa500;
    text-align: center;
}

h2 { font-family: Comic Sans MS;
}

h3 { 
  font-family: Trebuchet MS;
  text-align: center;
  font-size: 25px;
}

p {
  font-family: Trebuchet MS;
}

a {
  text-decoration: none;
  color: #5391ce;
}

li {
    float: left;
    position: relative;
    right: -38%;
    text-align: left;
  }

nav ul ul {
   opacity: 0; 
   transition:opacity 0.1s linear; 
  -webkit-transition:opacity 0.1s linear; 
  -moz-transition:opacity 0.1s linear; 
  -o-transition:opacity 0.1s linear; 
}

  nav ul li:hover > ul {
    opacity: 1;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #666;
    font-family: Arial;
    position: relative;
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
  nav ul:after {
    content: ""; clear: both; display: block;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
li a:hover:not(.active) {
   background-color: #000000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #D3D3D3;
}    
    
  nav ul ul {
    background: #666; border-radius: 0px; padding: 0px;
    position: absolute; top: 100%;
  }

 nav ul ul li {
      float: none; 
      border-top: 1px solid #6b727c;
      border-bottom: 1px solid #575f6a; position: relative;
    }

.drop-nav li {
  left: 0px;
}

.green {
  color: #ffa500;
}
.active {
    background-color: #ffa500;
}
   
   img.mcdonaldsreclame {
    max-width: 100%;
     height: auto;
     width: 350px;
     height: 180px;
     position: absolute;
     left: 1200px;
     top: 830px;
     padding: 1px;
     border: 1px solid #021a40;
     background-color: #a4c639;
     
   }

   

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   max-width: 100%;
   height: auto;
   } 

   .over {
    float: left;
    width: 475px;
    height: 350px;
    margin: 50px;
    padding: 20px;
    padding-top: 0px;
    background-color: #EDEDED;
    position: relative;
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   }

   .intro {
    font-size: 16px;
   }

   .opdr {
    display: block;
    margin: 0 auto;
   }

   .overzicht {
    float: left;
    width: 350px;
    height: 250px;
    margin: 50px;
    padding: 20px;
    background-color: #EDEDED;
    position: relative;
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   }

 .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 900px;
    margin-left: 18%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .container3 {
    height: 1325px;
    margin-top: 3%;
  }

  .flex-item {
    margin: auto;
    width: 325px;
    height: 400px;
  }
  .item3 {
    margin: auto;
    width: 600px;
    height: 500px;
  }

section a:link {
    text-decoration: none;
}

section a:visited {
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

section a:active {
    text-decoration: underline; 
}

.overlink {
  color: black;
}

.photo {
  float: left; 
  margin-top: 50px;
  width: 160px; 
  height: 210px;
  border: 2px solid grey;
  border-radius: 10px;
  position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}